
  <div class="blog-page area-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="page-head-blog">
            <div class="single-blog-page">
              <!-- search option start -->
              <form action="#">
                <div class="search-option">
                  <input type="text" placeholder="Search...">
                  <button class="button" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                </div>
              </form>
              <!-- search option end -->
            </div>
            <div class="single-blog-page">
              <!-- recent start -->
              <div class="left-blog">
                <h4>recent posts</h4>
                <div class="recent-post">

                  
                  {{#each posts}}  
                  <!-- start single post -->
                  <div class="recent-single-post">
                    <div class="post-img">
                      <a href="#">
												   <img src="/upload/{{file}}" alt="">
												</a>
                    </div> 
                    <div class="pst-content">
                      <p><a href="/post/{{_id}}"><strong>{{title}}</strong> {{#content content=content}} {{/content}} </a></p>
                    </div>
                  </div>
                  {{/each}}
                  <!-- End single post -->


                  
                </div>
              </div>
              <!-- recent end -->
            </div>
            <div class="single-blog-page">
              <div class="left-blog">
                <h4>categories</h4>
                  <ul>
                    {{#each cats}}  
                    <li><a href="/catPosts/{{_id}}">{{name}}</a></li>
                    {{/each}}
                  </ul>
              </div>
            </div>
          </div>
        </div>