


<h1>
    users :
</h1>


<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>Comments</th>
            <th>status</th>
            <th>firstName</th>
            <th>lastName</th>
            <th>Email</th>
            <th>Date</th>
            <th>delete</th>
            
    </tr>
    </thead>
     {{#each users}}
     <tbody>
         <tr> 

            <th scope="row">{{_id}}</th>
            <td>
                <ul>
                    {{#each this.comments}}
                        <li>{{comment}}</li>

                    {{/each}}

                </ul>

            </td>
            <td>{{status}}</td>
            <td>{{firstName}}</td>
            <td>{{lastName}}</td>
            <td>{{email}}</td>
            <td>{{generateTime date}} </td>
          
             {{#deleteBtn statusUser=this.status }}
             <td>
             <form action="/admin/users/delete/{{_id}}?_method=DELETE " method="post">
            
                <input type="submit" value="DELETE">
             
             </form>
            </td>
            {{/deleteBtn}}

         </tr>
     </tbody>
     {{/each}}

     
</table>
